.lobby-container{
    display: flex;
    flex-direction: column;
    height:100%;
    gap: 12px;
}

.lobby-container > nav{
    height: 50px;
    background-color: rgb(248, 68, 110);
    color: white;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}

.lobby-main{
    flex: 1 1 auto;
    display: flex;
    gap: 12px;
    padding: 4px;
}

.lobby-main > div{
    border: 1px dashed rgb(248, 68, 110);
    margin: -1px;
}

.lobby-main >div:nth-child(1){
    flex:  1 1 30%;
    text-align: left;
}

.lobby-main >div:nth-child(2){
    flex:  1 1 70%;
}